[submodule "Submodules/ReactiveUI"]
	path = Submodules/ReactiveUI
	url = git@github.com:journeyman/ReactiveUI.git
[submodule "Submodules/Akavache"]
	path = Submodules/Akavache
	url = git@github.com:journeyman/Akavache.git
