#Visual Studio files
*.[Oo]bj
*.user
*.suo
*.ipch
*.sdf
*.opensdf

*.[Cc]ache
obj/
PerformanceLogs/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

[Nn][Ll]og.config
*.dotCover

*/PhoneControllerRTProxyStub/*.c
*/PhoneControllerRTProxyStub/*.h
*/PhoneControllerRTProxyStub/*.winmd
*/Viber.Phone.Agents/RegistrationHelper.cs
*/Viber.Phone/PhoneControllerRTProxyStub.*